h1 , h2 {
    font-weight: 100;
}

body {
    max-width: 800px;
    margin-left: 250px;
    margin-top:70px;
    background-image: url("blacks3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(250, 250, 250);
}

ul {
    color: rgb(250, 250, 250);
}
ol {
    list-style-type: none;
    margin:0;
    padding:2px;
    display: block;
    overflow: hidden;
    background-color: rgb(139, 7, 248);
    position:relative;
    text-align: center;
}
ol li {
float: left;
}
li a {
    display:block;
    color:white;
    text-align:center;
    padding:14px;
    text-decoration: none;
    font-size: 20px;
    width: 150px;
}
li a:hover {
    background-color:rgb(170, 108, 175);
}
h1 {
    text-align: center;
    color: rgb(0, 0, 0,);
    padding-bottom: 40px;
}
h2 {
    margin-top: 50px;
}
main {
    background-color: rgba(0, 0, 0, 0.5);
    padding:30px;
}